<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:fragment="header">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link th:href = "@{/dist/bootstrap-5.3.3-dist/css/bootstrap.min.css}" rel = "stylesheet">
    <link th:href = "@{/dist/bootstrap-icons/font/bootstrap-icons.min.css}" rel = "stylesheet">
    <script th:src="@{/dist/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/dist/js/login.js}"></script>
    <link rel="icon" type="image/png" href="img/logoslide/logoolympic.png">
    <link th:href= "@{/dist/login.css}" rel = "stylesheet">
    <title>Login</title>
</head>
</html>